<div class="banner ">
    <div class="image-background-content container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <h1 class="display-4">Astrophotography gallery</h1>
                <p class="lead mb-0">Our Sun is one of 100 billion stars in our galaxy. our galaxy is one of billions of galaxies populating the universe. It would be the height of presumption to think that we are the only living things in that enormous immensity.</p>
            </div>
        </div>
    </div>
</div>
<div class="display-4">Latest image</div>
<app-gallery-post-thumbnail [image]="image[0]">

</app-gallery-post-thumbnail>